@import 'tailwindcss/utilities.css';
@import 'tailwindcss/theme.css' layer(theme);
@import '@/assets/variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
